body {
    background-color: rgb(49,49,49);
    color: white;
    font-family: Roboto, serif;
}
.header {
    text-align: center;
    font-size: 3vw; 
    margin-bottom: 0px;
    padding-bottom: 0;
}
.header h1 {
    margin-bottom: 0;
}
.header p {
    font-size: 2vw;
    text-align: left;
    margin-top: 0;
    padding-bottom: 50px;
    margin-left: 2vw;
}
.list {
    font-size: 2vw;
    margin-left: 2vw;
}

a {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
#eyes {
    font-size: 2vw;
    font-weight:900;
}
@media screen and (orientation:portrait) { 
    .list {
        text-align: center;
        font-size: 5vw;
    }
    .header {
        font-size: 10vw;
    }
    .header p {
        font-size: 7vw;
        text-align: center;
    }
    #eyes {
        font-size: 6vw;
    }
}