body {
    color: white;
    margin: 0;
    background-color: rgb(49, 49, 49);
    font-size: 1.5vw;
    font-family: Roboto, sans-serif;
}
.header {
    text-align: center;
}
.block h2 {
    font-size: 2vw;
    margin-bottom: 10px;
    padding-left: 2vw;
}
.block p {
    padding-left: 3vw;
    padding-right: 3vw;
}
.block h3 {
    font-size: 1.5vw;
    margin-bottom: 10px;
    padding-left: 2vw;

}
a {
    color: rgb(211, 211, 211);
}
a:visited {
    color: rgb(211, 211, 211);
}